.home-background-text {
  background: rgba(0, 0, 0, 0.6);
  border-style: solid;
  border-color: rgba(255, 165, 0);
  margin-bottom: 25px;
  width: 100%;
  margin-left: -200px;
  padding-right: -500px;
}
