.home-background-text {
  background: rgba(0, 0, 0, 0.6);
  border-style: solid;
  border-color: rgba(255, 165, 0);
  font-weight: bolder;
}

.home-image-style {
  height: 175px;
  margin: 15px 50px 15px 50px;
}

.home-images {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.home-image-caption {
  display: block;
  font-size: x-large;
}

.home-hide {
  display: none;
}

.home-agent-header {
  font-size: xx-large;
  margin: 50px 50px 15px 50px;
}
