.properties-address {
  font-size: x-large;
}

.properties-hide {
  display: none;
}

.properties-image {
  height: 300px;
}

.properties-details {
  font-size: large;
}

.properties-header {
  background: rgba(255, 165, 0, 0.2);
  font-size: xx-large;
  padding: 15px 0px 15px 0px;
  font-weight: bold;

}
