.properties-header-text {
  font-size: xx-large;
}

.properties-details {
  padding-top: 25px;
  font-size: x-large;
}

.properties-hide {
  display: none;
}

.properties-image {
  height: 300px;
}

.properties-description {
  width: 80%;
  margin: auto;
  padding-bottom: 25px;
  font-size: large;
}

.property-image {
  vertical-align:top;
}

.properties-spacing {
  padding: 25px 0px 25px 0px;
}

.properties-header {

  padding: 15px 0px 15px 0px;
  margin-top: 25px;

}

.properties-overlay-container {
  position: relative;
  z-index: -1;
}

.properties-overlay-text {
  position: absolute;
  width: 100%;
  top: 175px;
  left: 0px;
  font-weight: bolder;
  font-size: xx-large;
  transform: rotate(-32deg);
  -moz-transform:rotate(-32deg);
  -webkit-transform:rotate(-32deg);
  -o-transform:rotate(-32deg);
  -ms-transform:rotate(-32deg);
}

.properties-overlay-text span {
  background: rgba(0, 0, 0, 0.5);
  padding: 0px 280px 0px 280px;
  color: white;
}
